// Import your components CSS files here.
@import "alert";
@import "content_items";
@import "navbar";
@import "wrapper";
@import "button";
@import "form";
@import "magcard";

a {
  color: $brand-color;
  &:hover {
    text-decoration: none;
    color: $brand-color;
  }
}
